body{
    background-color:#7c6f64;
    font-family: Helvetica, Arial, sans-serif;
}

.message{
    width: 75%;
    max-width: 750px;
    padding:20px 60px;
    background-color:#3c3836;
    border-radius: 10px;
    border:1px solid #fff;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: grid;
    gap: 25px 50px;
    justify-items: center;
    align-items: center;
}


heading {
    font-family: Oswald, sans-serif;
    font-size: 46px;
    font-weight: lighter;
}

subheading {
    font-family: Oswald, sans-serif;
    font-size: 16px;
    font-style: italic;
}

p{
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
}

a {
    color: white;
}

.avatar {
    vertical-align: middle;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}

.messageContent {
    color: #ebdbb2;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

.socialLinks {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ebdbb2;
    text-align: center;
}

 /* Style all font awesome icons */
.fa {
  padding: 15px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  background: white;
  color: black;
}

.fa:hover {
  opacity: 0.7;
}

/* adapt to small screens */
@media screen and (max-width:600px) {
    body{
        background-color:#3c3836;
    }

    .message{
        border: 0px;
        padding: 0px 0px;
    }

    .avatar {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
    }

    .messageContent {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 2;
    }

    .socialLinks {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 3;
        grid-row-end: 3;
    }
}
